<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>AngularJS Form Validation</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myCtrl"><center>
<h2>Student Registration Form</h2>
<form name="myForm" novalidate>
<label>Name:</label>
<input type="text" name="name" ng-model="student.name" required>
<span ng-show="myForm.name.$touched && myForm.name.$invalid" style="color:red;">
Name is required
</span>
<br><br>
<label>Email:</label>
<input type="email" name="email" ng-model="student.email" required>
<span ng-show="myForm.email.$touched && myForm.email.$invalid" style="color:red;">
Enter a valid Email
</span>
<br><br>
<label>Age:</label>
<input type="number" name="age" ng-model="student.age" min="18" max="60" required>
<span ng-show="myForm.age.$touched && myForm.age.$invalid" style="color:red;">
Age must be between 18 and 60
</span>
<br><br>
<label>Gender:</label>
<select name="gender" ng-model="student.gender" required>
<option value="">Select Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
<span ng-show="myForm.gender.$touched && myForm.gender.$invalid" style="color:red;">
Gender is required
</span>
<br><br>
<button ng-disabled="myForm.$invalid">Submit</button>
</form>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
$scope.student = {};
});
</script>
</center>
</body>
</html>
